footer.page-footer
	.container
		.footer--column
			.footer--column-header
				span.logo Brandi
			p
				| eusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				| consequat.
		.footer--column
			.footer--column-header
				h3 Subscribe
			form.subscribe(action='subscribe.html', method='post')
				input(type='email', name='subscribe', value='')
				input(type='image', name='submit', src='img/icons/arrow.png', alt='ОК')
			p eusmod tempor incididunt ut labore et dolore magna aliqua.
		.footer--column
			.footer--column-header
				h3 Explore
			ul.explore--list1
				li.explore--item
					a(href='#') Envato
				li.explore--item
					a(href='#') Themecurve
				li.explore--item
					a(href='#') Kreativeshowcase
				li.explore--item
					a(href='#') Freebiescurve
			ul.explore--list2
				li.explore--item
					a(href='#') Themeforest
				li.explore--item
					a(href='#') Microsoft
				li.explore--item
					a(href='#') Google
				li.explore--item
					a(href='#') Yahoo
		.footer--column
			p.text-border-left
				| Created with 
				i.heart
				|  by 
				span.text-black themecurve
				| , exclusive for kreativeshowcase
			p.copy-right © 2014 Brandi. All Rights Reserved.