footer.page-footer
	.container
		.footer__column
			.footer__column-header
				span.logo Brandi
			p
				| eusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				| consequat.
		.footer__column
			.footer__column-header
				h3 Subscribe
			form.subscribe(action='subscribe.html', method='post')
				input(type='email', name='subscribe', value='', required)
				input(type='image', name='submit', src='img/icons/arrow.png', alt='ОК')
			p eusmod tempor incididunt ut labore et dolore magna aliqua.
		.footer__column
			.footer__column-header
				h3 Explore
			ul.explore__list1
				li.explore__item
					a(href='#') Envato
				li.explore__item
					a(href='#') Themecurve
				li.explore__item
					a(href='#') Kreativeshowcase
				li.explore__item
					a(href='#') Freebiescurve
			ul.explore__list2
				li.explore__item
					a(href='#') Themeforest
				li.explore__item
					a(href='#') Microsoft
				li.explore__item
					a(href='#') Google
				li.explore__item
					a(href='#') Yahoo
		.footer__column
			p.text-border-left
				| Created with
				i.heart
				|  by
				span.text-black: a(href="https://www.behance.net/themecurve", target="_blank") themecurve
				| , exclusive for kreativeshowcase
			p.copy-right © 2014 Brandi. All Rights Reserved.
