header.page-header
	.header__top
		.container.clearfix
			.logo__wrap
				span.logo Brandi
				span.slash |
				span.tag-line I'am your tag line
			nav.header__nav
				ul.main-menu__lists.clearfix
					li.main-menu__item.main-menu__item_active
						a(href='#') Home
					li.main-menu__item
						a(href='#feature') Feature
					li.main-menu__item
						a(href='#works') Works
					li.main-menu__item
						a(href='#team') Team
					li.main-menu__item
						a(href='#contact') Contact
	.container
		.header-slider
			.slider__slides
				.slide-1
					.slide__text
						p.text__big-slide
							| Meet
							strong Brandi!
						p.text__creative
							span.text__creative_green /creative
							|  one page template.
						p.text__small-slide We are a team of professionals
					.social__btns
						a.social__btn.social__btn_twitter(href='http://twitter.com', target='_blank') twitter
						a.social__btn.social__btn_facebook(href='http://facebook.com', target='_blank') facebook
						a.social__btn.social__btn_googleplus(href='http://plus.google.com', target='_blank') google+
						a.social__btn.social__btn_dribbble(href='http://dribbble.com', target='_blank') dribbble
				.slide-2
					.slide__text
						p.text__big-slide
							| Meet
							strong Brandi!
						p.text__creative
							span.text__creative_green /creative
							|  two page template.
						p.text__small-slide We are a team of professionals
					.social__btns
						a.social__btn.social__btn_twitter(href='http://twitter.com', target='_blank') twitter
						a.social__btn.social__btn_facebook(href='http://facebook.com', target='_blank') facebook
						a.social__btn.social__btn_googleplus(href='http://plus.google.com', target='_blank') google+
						a.social__btn.social__btn_dribbble(href='http://dribbble.com', target='_blank') dribbble
				.slide-3
					.slide__text
						p.text__big-slide
							| Meet
							strong Brandi!
						p.text__creative
							span.text__creative_green /creative
							|  tree page template.
						p.text__small-slide We are a team of professionals
					.social__btns
						a.social__btn.social__btn_twitter(href='http://twitter.com', target='_blank') twitter
						a.social__btn.social__btn_facebook(href='http://facebook.com', target='_blank') facebook
						a.social__btn.social__btn_googleplus(href='http://plus.google.com', target='_blank') google+
						a.social__btn.social__btn_dribbble(href='http://dribbble.com', target='_blank') dribbble
// end header
