header.page-header
	.header--top
		.container.clearfix
			.logo--wrap
				span.logo Brandi
				span.slash |
				span.tag-line I'am your tag line
			nav.header--nav
				ul.main-menu--lists.clearfix
					li.main-menu--item.main-menu--item__active
						a(href='#') Home
					li.main-menu--item
						a(href='#feature') Feature
					li.main-menu--item
						a(href='#works') Works
					li.main-menu--item
						a(href='#team') Team
					li.main-menu--item
						a(href='#contact') Contact
	.container
		.header-slider
			input#btn-1(type='radio', name='toggle', checked='')
			input#btn-2(type='radio', name='toggle')
			input#btn-3(type='radio', name='toggle')
			.slider--controls
				label.btn-1(for='btn-1')
				label.btn-2(for='btn-2')
				label.btn-3(for='btn-3')
			.slider--slides
				.slide-1
					.slide--text
						p.text--big-slide
							| Meet 
							strong Brandi!
						p.text--creative
							span.text--creative__green /creative
							|  one page template.
						p.text--small-slide We are a team of professionals
					.social--btns
						a.social--btn.social--btn__twitter(href='http://twitter.com', target='_blank') twitter
						a.social--btn.social--btn__facebook(href='http://facebook.com', target='_blank') facebook
						a.social--btn.social--btn__googleplus(href='http://plus.google.com', target='_blank') google+
						a.social--btn.social--btn__dribbble(href='http://dribbble.com', target='_blank') dribbble
				.slide-2
					.slide--text
						p.text--big-slide
							| Meet 
							strong Brandi!
						p.text--creative
							span.text--creative__green /creative
							|  one page template.
						p.text--small-slide We are a team of professionals
					.social--btns
						a.social--btn.social--btn__twitter(href='http://twitter.com', target='_blank') twitter
						a.social--btn.social--btn__facebook(href='http://facebook.com', target='_blank') facebook
						a.social--btn.social--btn__googleplus(href='http://plus.google.com', target='_blank') google+
						a.social--btn.social--btn__dribbble(href='http://dribbble.com', target='_blank') dribbble
				.slide-3
					.slide--text
						p.text--big-slide
							| Meet 
							strong Brandi!
						p.text--creative
							span.text--creative__green /creative
							|  one page template.
						p.text--small-slide We are a team of professionals
					.social--btns
						a.social--btn.social--btn__twitter(href='http://twitter.com', target='_blank') twitter
						a.social--btn.social--btn__facebook(href='http://facebook.com', target='_blank') facebook
						a.social--btn.social--btn__googleplus(href='http://plus.google.com', target='_blank') google+
						a.social--btn.social--btn__dribbble(href='http://dribbble.com', target='_blank') dribbble
// end header
