.page-header {
  position: relative;
  background-color: #0d2f28;
  background-image: url("../img/Header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .padding(0 0 50px 0);
}
.header--top {
  background-color: @palette-bg-top-header;
  .padding(0 0 19px 0);
}
.logo--wrap {
  .padding (24px 0 0 0);
  .float();
  @media (max-width:650px) {
    .float(none);
    width: 100%;
    text-align: center;
    }
}
.logo {
  font-family: @base-logo-font;
  display: inline-block;
  font-size: 28px;
  line-height: 27px;
  color: white;
  vertical-align: top;
}
.slash {
  display: inline-block;
  color: white;
  .margin(0 27px 0 27px);
  opacity: 0.3;
  font-size: 16px;
  line-height: 27px;
  vertical-align: top;
}
.tag-line {
  display: inline-block;
  color: white;
  opacity: 0.3;
  font-size: 13px;
  line-height: 27px;
  vertical-align: top;
}
.header--nav {
  .float(right);
    @media (max-width:650px) {
      .float(none);
      width: 100%;
      }
}
.main-menu--lists {
  .margin();
  .padding();
  list-style: none;
  @media (max-width:650px) {
    margin: 0 auto;
      }
  @media (max-width:345px) {
    .padding(0 60px);
  }
}
.main-menu--item {
  .float();
  .margin(0 0 0 33.7px);
  font-size: 13px;
  position: relative;
  &__active::before, &:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    height: 1px;
    background-color: #32b0ee;
    @media (max-width:650px) {
      top: 55px;
    }
  }
  &:first-child{
    .margin();
  }
  a {
    padding-top: 27px;
    display: inline-block;
    text-decoration: none;
    color: white;
  }
}
.header-slider {
  .padding(386px 0 0 0);
  @media (max-width:650px) {
    .padding(150px 0 0);
  }
}
// .header-slider input, .slide-1, .slide-2, .slide-3 {
//   display: none;
// }
// .header-slider .slider--controls {
//   position: absolute;
//   top: 374px;
//   right: 48px;
//   @media (max-width: 780px) {
//     top: 700px;
//     right: 50%;
//     transform: translateX(50%);
//   }
// }
// .btn-1::before, .btn-2::before, .btn-3::before {
//   content: "";
//   cursor: pointer;
//   display: block;
//   border-radius: 50%;
//   border: 1px solid rgba(255, 255, 255, 0.2);
//   width: 6px;
//   height: 6px;
//   .margin(0 0 14px 0);
//   @media (max-width: 780px) {
//     display: inline-block;
//     .margin(0 15px 0 0);
//    }
// }
// #btn-1:checked ~ .slider--controls .btn-1::before,
// #btn-2:checked ~ .slider--controls .btn-2::before,
// #btn-3:checked ~ .slider--controls .btn-3::before {
//   background-color: white;
// }
// #btn-1:checked ~ .slider--slides .slide-1,
// #btn-2:checked ~ .slider--slides .slide-2,
// #btn-3:checked ~ .slider--slides .slide-3 {
//   display: block;
// }
.slick-list, .slick-slider.slick-slider {
	position: static;
}
.header-slider .slick-dots {
	position: absolute;
	top: 374px;
	right: 48px;
	@media (max-width: 780px) {
		top: 700px;
		right: 50%;
		transform: translateX(50%);
	}
}
@media (max-width: 780px) {
	.header-slider li[id^="slick-slide"] {
		display: inline-block;
	}
}
.header-slider .slick-dots button {
	border: 1px solid rgba(255, 255, 255, 0.2);
	.margin(0 0 14px 0);
	@media (max-width: 780px) {
    display: inline-block;
    .margin(0 15px 0 0);
   }
}
.header-slider .slick-active button {
	background-color: white;
}
.slide--text, .social--btns {
  text-align: center;
}
.slide--text {
  color: white;
  .margin(0 0 0px 0);
}
.text--big-slide {
  font-size: 62px;
  line-height: 62px;
  color: white;
  .margin(0 0 10px 0);
}
.text--creative {
  font-size: 48px;
  line-height: 48px;
  color: white;
  .margin(0 0 22px 0);
}
.text--creative__green {
  color: #0fda93;
}
.text--small-slide {
  font-size: 18px;
  line-height: 18px;
  display: inline-block;
  position: relative;
  .margin(0 0 111px 0);
  &&::before, &&::after{
    position: absolute;
    top: 11px;
    content: "";
    display: block;
    height: 1px;
    width: 28px;
    background-color: #0feb9e;
    @media (max-width:380px) {
      display: none;
    }
  }
  &&::before {
    left: -61px;
  }
  &&::after {
    right: -61px;
  }
}
.social--btns {
  font-size: 0;
  line-height: 20px;
}
.social--btn {
  position: relative;
  opacity: 0.3;
  display: inline-block;
}
.social--btn:hover {
  opacity: 1;
}
.social--btn__twitter,
.social--btn__facebook,
.social--btn__googleplus,
.social--btn__dribbble {
  width: 20px;
  height: 20px;
}
.social--btn__twitter {
  margin-right: 16px;
  background: url("@{path-sprite}") 0 -531px;
	width: 20px;
	height: 16px;
}
.social--btn__facebook {
  margin-right: 18px;
  background: url("@{path-sprite}") 0 -264px;
	width: 10px;
	height: 18px;
}
.social--btn__googleplus {
  margin-right: 12px;
  background: url("@{path-sprite}") 0 -370px;
	width: 18px;
	height: 18px;
}
.social--btn__dribbble {
  background: url("@{path-sprite}") 0 -204px;
	width: 20px;
	height: 20px;
}
