extends templates/layout.pug
block content
	section#feature.feature
		.container
			header.feature__header
				h3 Features
			.feature-slider
				.slide-1
					.column.column_branding
						h3 Branding
						p
							| Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
					.column.column_development
						h3 Development
						p
							| Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
					.column.column_consulting
						h3 Consulting
						p
							| Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
				.slide-2
					.column.column_development
						h3 Development
						p
							| Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
					.column.column_branding
						h3 Branding
						p
							| Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
					.column.column_consulting
						h3 Consulting
						p
							| Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
				.slide-3
					.column.column_development
						h3 Development
						p
							| Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
					.column.column_consulting
						h3 Consulting
						p
							| Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
					.column.column_branding
						h3 Branding
						p
							| Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
	// end feature
	section#works.works
		.container
			header.works__header
				h3 Works
			p.text__semibold
				| Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
			form.works__filter(action='works.html', method='post')
				ul.works__list
					li.works__item.works__item__active
						a(href='#') All
					li.works__item
						a(href='#') Branding
					li.works__item
						a(href='#') Web
					li.works__item
						a(href='#') Logo Desing
					li.works__item
						a(href='#') Photography
		.works__sorted
			-i=1
			while i<9
				.work__column-in-job
					a(href="#")
						img(src='img/pic-work-'+i+'.jpg', alt='pic-work')
						.work__description
							span Labore et dolore magnam
							span.text__small-in-column Photography
							-i++
	// end works

	section#team.team
		.container
			header.team__header
				h3 Meet our team
				p.text__semibold
					| Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
			.team-slider
				.slide-1
					.team__list
						.team__iteam-column
							.team__iteam-column_wrap
								img(src='img/photo-1.jpg', alt='photo')
								.teem__desc-and-social-contact
									span.text__desc-bold Nemo enim ipsam voluptatem quia voluptas
									span.text__desc
										| sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
									.social__contact
										a.social-btn.social-btn_twitter(href='')
										a.social-btn.social-btn_facebook(href='')
										a.social-btn.social-btn_google-plus(href='')
							span.team__surname John Filmr Doe
							span.teem__specialization Managing Director
						.team__iteam-column
							.team__iteam-column_wrap
								img(src='img/photo-2.jpg', alt='photo')
								.teem__desc-and-social-contact
									span.text__desc-bold Nemo enim ipsam voluptatem quia voluptas
									span.text__desc
										| sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
									.social__contact
										a.social-btn.social-btn_twitter(href='')
										a.social-btn.social-btn_facebook(href='')
										a.social-btn.social-btn_google-plus(href='')
							span.team__surname Chystine Hineu
							span.teem__specialization Lead Designer
						.team__iteam-column
							.team__iteam-column_wrap
								img(src='img/photo-3.jpg', alt='photo')
								.teem__desc-and-social-contact
									span.text__desc-bold Nemo enim ipsam voluptatem quia voluptas
									span.text__desc
										| sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
									.social__contact
										a.social-btn.social-btn_twitter(href='')
										a.social-btn.social-btn_facebook(href='')
										a.social-btn.social-btn_google-plus(href='')
							span.team__surname Martin Matrone
							span.teem__specialization Lead Developer
						.team__iteam-column
							.team__iteam-column_wrap
								img(src='img/photo-4.jpg', alt='photo')
								.teem__desc-and-social-contact
									span.text__desc-bold Nemo enim ipsam voluptatem quia voluptas
									span.text__desc
										| sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
									.social__contact
										a.social-btn.social-btn_twitter(href='')
										a.social-btn.social-btn_facebook(href='')
										a.social-btn.social-btn_google-plus(href='')
							span.team__surname Steve Flaulkin
							span.teem__specialization Sr. UI Designer
				.slide-2
					.team__list
						.team__iteam-column
							.team__iteam-column_wrap
								img(src='img/photo-1.jpg', alt='photo')
								.teem__desc-and-social-contact
									span.text__desc-bold Nemo enim ipsam voluptatem quia voluptas
									span.text__desc
										| sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
									.social__contact
										a.social-btn.social-btn_twitter(href='')
										a.social-btn.social-btn_facebook(href='')
										a.social-btn.social-btn_google-plus(href='')
							span.team__surname John Filmr Doe
							span.teem__specialization Managing Director
						.team__iteam-column
							.team__iteam-column_wrap
								img(src='img/photo-3.jpg', alt='photo')
								.teem__desc-and-social-contact
									span.text__desc-bold Nemo enim ipsam voluptatem quia voluptas
									span.text__desc
										| sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
									.social__contact
										a.social-btn.social-btn_twitter(href='')
										a.social-btn.social-btn_facebook(href='')
										a.social-btn.social-btn_google-plus(href='')
							span.team__surname Martin Matrone
							span.teem__specialization Lead Developer
						.team__iteam-column
							.team__iteam-column_wrap
								img(src='img/photo-2.jpg', alt='photo')
								.teem__desc-and-social-contact
									span.text__desc-bold Nemo enim ipsam voluptatem quia voluptas
									span.text__desc
										| sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
									.social__contact
										a.social-btn.social-btn_twitter(href='')
										a.social-btn.social-btn_facebook(href='')
										a.social-btn.social-btn_google-plus(href='')
							span.team__surname Chystine Hineu
							span.teem__specialization Lead Designer

						.team__iteam-column
							.team__iteam-column_wrap
								img(src='img/photo-4.jpg', alt='photo')
								.teem__desc-and-social-contact
									span.text__desc-bold Nemo enim ipsam voluptatem quia voluptas
									span.text__desc
										| sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
									.social__contact
										a.social-btn.social-btn_twitter(href='')
										a.social-btn.social-btn_facebook(href='')
										a.social-btn.social-btn_google-plus(href='')
							span.team__surname Steve Flaulkin
							span.teem__specialization Sr. UI Designer
				.slide-3
					.team__list
						.team__iteam-column
							.team__iteam-column_wrap
								img(src='img/photo-1.jpg', alt='photo')
								.teem__desc-and-social-contact
									span.text__desc-bold Nemo enim ipsam voluptatem quia voluptas
									span.text__desc
										| sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
									.social__contact
										a.social-btn.social-btn_twitter(href='')
										a.social-btn.social-btn_facebook(href='')
										a.social-btn.social-btn_google-plus(href='')
							span.team__surname John Filmr Doe
							span.teem__specialization Managing Director
						.team__iteam-column
							.team__iteam-column_wrap
								img(src='img/photo-2.jpg', alt='photo')
								.teem__desc-and-social-contact
									span.text__desc-bold Nemo enim ipsam voluptatem quia voluptas
									span.text__desc
										| sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
									.social__contact
										a.social-btn.social-btn_twitter(href='')
										a.social-btn.social-btn_facebook(href='')
										a.social-btn.social-btn_google-plus(href='')
							span.team__surname Chystine Hineu
							span.teem__specialization Lead Designer
						.team__iteam-column
							.team__iteam-column_wrap
								img(src='img/photo-4.jpg', alt='photo')
								.teem__desc-and-social-contact
									span.text__desc-bold Nemo enim ipsam voluptatem quia voluptas
									span.text__desc
										| sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
									.social__contact
										a.social-btn.social-btn_twitter(href='')
										a.social-btn.social-btn_facebook(href='')
										a.social-btn.social-btn_google-plus(href='')
							span.team__surname Steve Flaulkin
							span.teem__specialization Sr. UI Designer
						.team__iteam-column
							.team__iteam-column_wrap
								img(src='img/photo-3.jpg', alt='photo')
								.teem__desc-and-social-contact
									span.text__desc-bold Nemo enim ipsam voluptatem quia voluptas
									span.text__desc
										| sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
									.social__contact
										a.social-btn.social-btn_twitter(href='')
										a.social-btn.social-btn_facebook(href='')
										a.social-btn.social-btn_google-plus(href='')
							span.team__surname Martin Matrone
							span.teem__specialization Lead Developer
	// end team

	section.some-fun-fact
		.container
			header.some-fun-fact__header
				h3 Some fun fact
			.some-fun-fact__column-wraper
				.some-fun-fact__column.some-fun-fact__column_hours
					span.some-fun-fact__number 3200
					p.text__some-fun-fact Hourse of work
				.some-fun-fact__column.some-fun-fact__column_clinets
					span.some-fun-fact__number 120
					p.text__some-fun-fact Satisfied Clinets
				.some-fun-fact__column.some-fun-fact__column_project
					span.some-fun-fact__number 360
					p.text__some-fun-fact Project delivered
				.some-fun-fact__column.some-fun-fact__column_awards
					span.some-fun-fact__number 42
					p.text__some-fun-fact Awards won
	// end some-fun-fact

	section#contact.discuss
		.container
			header.discuss__header
				h3 Let's discuss
			p.text__discuss_parag
				| Voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
			.discuss__column-wraper
				.discuss__column.discuss__column_contact
					p.text__discuss_slogan Cras at ultrices erat, sed vulputate!
					p.text__contacts
						| 2345 Setwant natrer, 1234, Washington. United States. (401) 1234 567 hello@brandi.com www.brandi.com
				.discuss__column.discuss__column_message
					form.discuss__message.clearfix(action='message.html', method='post')
						h3.discuss__message_title Say hello!
						input(type='text', name='name', placeholder='Name' )
						input(type='email', name='email', placeholder='Email' )
						textarea(name='message', placeholder='Message' )
						button(type='submit', name='button') Send message
						//- required
				.discuss__column.discuss__column_social-contact
					.social__contact
						a.social-btn__discuss.social-btn_behance(href='#', target='_blank')
						a.social-btn__discuss.social-btn_twitter(href='#', target='_blank')
						a.social-btn__discuss.social-btn_dribbble(href='#', target='_blank')
						a.social-btn__discuss.social-btn_forrst(href='#', target='_blank')
						a.social-btn__discuss.social-btn_google-plus(href='#', target='_blank')
		.discuss__maps
			.discuss__map
			.discuss__map_js
				#discuss--map-js(style='width: 100%; height: 215px;')

	// end discuss
