.team {
  .padding(98px 0 215px 0);
}
.team--header h3 {
  position: relative;
  font-size: 28px;
  color: #1ea78d;
  text-transform: uppercase;
  text-align: center;
  .margin(0 0 70px 0);
  font-weight: 800;
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    .margin(0 0 0 -114.5px);
    bottom: -37px;
    width: 229px;
    height: 14px;
    background: url("@{path-sprite}") 0 -402px;
  }
}
.team .text--semibold {
  text-align: center;
  // .padding(0 117px);
  .padding(0 10%);
  .margin(0 0 106px 0);
}
.team-slider  {
  position: relative;
	@media (max-width: 1174px) {
		max-width: 600px;
		.margin(0 auto);
	}
	@media (max-width: 600px) {
		max-width: 270px;
		.margin(0 auto);
	}
}
.team-slider input {
  display: none;
}
.team-slider .slick-dots {
  position: absolute;
  bottom: -101px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}
// .btn-7::before, .btn-8::before, .btn-9::before {
//   content: "";
//   cursor: pointer;
//   display: inline-block;
//   border-radius: 50%;
//   border: 1px solid rgba(19, 44, 62, 0.2);
//   width: 6px;
//   height: 6px;
//   background-color: #f4f7f9;
//   .margin(0 14px 0 0);
// }
// #btn-7:checked ~ .slider--controls .btn-7::before,
// #btn-8:checked ~ .slider--controls .btn-8::before,
// #btn-9:checked ~ .slider--controls .btn-9::before {
//   background-color: #062033;
// }
// #btn-7:checked ~ .slider--slides .slide-1,
// #btn-8:checked ~ .slider--slides .slide-2,
// #btn-9:checked ~ .slider--slides .slide-3 {
//   display: block;
// }
.team--list {
  font-size: 0;
}
.team--iteam-column {
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  max-width: 270px;
  width: 23.07692307692308%;
  height: 364px;
  text-align: center;
  // .margin(0 0 0 30px);
	.margin(0 0 0 2.56410256410256%);
	&:first-child {
		@media (min-width: 1175px) {
			.margin();
		}
	}
	&:nth-child(2n-1) {
		@media (max-width: 1174px) {
			.margin();
		}
	}

	@media (max-width: 1174px) {
		width: 45%;
		.margin(0 0 0 10%);
	}
}
.team--iteam-column.team--iteam-column {
	@media (max-width: 600px) {
		width: 100%;
		.margin(0 0 25px 0);
	}
}
.team--iteam-column_wrap {
	position: relative;
	& img {
		display: block;
		.margin(0 auto);
	}
}
.team--surname {
  font-size: 18px;
  line-height: 43px;
  font-weight: 600;
  display: block;
}
.teem--specialization {
  font-size: 13px;
  line-height: 12px;
  color: #062033;
  opacity: 0.56;
  display: block;
}
.teem--desc-and-social-contact {
  display: none;
  color: white;
  position: absolute;
  bottom: 0;
	height: 100%;
  // font-size: 16px;
	font-size: 1.230769230769231em; /*16/13*/
  background-color: rgba(14, 180, 147, 0.95);
	animation: hoverUpDown 0.5s ease-in-out;
  // width: 224px;
  // width: 19.14529914529915%;
  // max-height: 300px;
  // .padding(18px 23px 0 23px);M
  .padding(6% 8.51851851851852% 0 8.51851851851852%);
	@media (max-width: 768px) {
		font-size: 0.9em; /*16/13*/
	}
}
.team--iteam-column:hover .teem--desc-and-social-contact {
  display: block;
}
.team--iteam-column:hover .team--surname {
  color: #0eb493;
}
.text--desc-bold {
  font-weight: bold;
  display: block;
  // .margin(0 0 8px 0);
  .margin(0 0 2.66666666666667% 0);
}
.text--desc {
  display: inline-block;
  // .margin(0 0 65px 0);
  .margin(0 0 21.66666666666667% 0);
}
.social--contact {
	.margin(0 0 30% 0);
}
.social-btn {
  display: inline-block;
  vertical-align: top;
  width: 42px;
  height: 42px;
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
	// .margin(0 4px 0 0);
  .margin(0 1.78571428571429% 0 0);
}
.social-btn:first-child {
  // .margin();
}
.social-btn.social-btn--twitter::after,
.social-btn.social-btn--facebook::after,
.social-btn.social-btn--google-plus::after {
  content: "";
  position: absolute;
  top:13px;
	left: 13px;
}
.social-btn.social-btn--twitter::after {
  background: url("@{path-sprite}") 0 -531px;
	width: 20px;
	height: 16px;
}
.social-btn.social-btn--facebook::after {
  background: url("@{path-sprite}") 0 -264px;
	width: 10px;
	height: 18px;
  left: 15px;
}
.social-btn.social-btn--google-plus::after {
  background: url("@{path-sprite}") 0 -370px;
	width: 18px;
	height: 18px;
}
